body {
  margin: 0 auto;
  background: slategray;
  color: white;
  font-family: serif;
}

header {
  max-width: 90vw;
  max-height: 120px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  margin-top: 1em;
}

#biopic {
  height: 100px;
  border: 1px white solid;
  border-left: 5px solid white;
}

.page-title {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

#links li {
  display: inline;
  list-style: none;
  text-decoration: none;
}

#links li > a {
  text-decoration: none;
  color: white;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

aside > a {
  padding: 1em;
  font-size: larger;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}

.border-line {
  border: 1px solid white;
  border-left: 5px solid white;
  margin-bottom: 10px;
}

.portfolio {
  justify-content: center;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  align-items: flex-end;
}

.project-grid {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.project-cards {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 2px;
  color: aliceblue;
  border: 1px solid white;
}

.project-cards:hover {
  border: solid darkblue;
}

#projectgrid h4 {
  text-align: right;
}

aside > a:hover {
  color: darkblue;
}

#project1 {
  height: 300px;
  background-image: url("Cinevents.png");
  grid-column: 1/4;
}

#project2 {
  background-color: slateblue;
  grid-column: 1;
}

#project3 {
  background-image: url(jute.png);
  grid-column: 2/4;
}

#project4 {
  background-image: url(wood.png);
  grid-column: 1/3;
}

#project5 {
  background-color: burlywood;
  grid-column: 3;
}
