body {
  max-width: 90%;
  margin: 0 auto;
  background: slategray;
  color: white;
  font-family: serif;
 
}

body > * {
  align-content: center;
}

header {
  max-width: 90%;
  max-height: 120px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  margin-top: 1em;
}

#biopic {
  
  height: 100px;
  border: 1px white solid;
  border-left: 5px solid white;
}



.page-title {
 
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
 
}

#links li {
 
  display: inline;
  list-style: none;
  text-decoration: none;
}

#links li > a {
  text-decoration: none;
  color: white;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

aside {
  flex: 1 1 10%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  align-items: flex-end;
}

aside > a {
  padding: 1em;
  font-size: larger;
  font-weight: bolder;
}






*,
*:before,
*:after {
  box-sizing: border-box;
}



.border-line {
  border: 1px solid white;
  border-left: 5px solid white;
  margin-bottom: 10px;
}

#portfolio {
  display: flex;
  max-width: 90%;
}

#projectgrid {
  display: flex;
  flex-wrap: wrap;
  flex: 3 1 50%;
  
}

.project-cards {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 5px;
  padding: 2px;
  color: aliceblue;
  border: 1px solid white;

  align-items: flex-end;
  justify-content: flex-end;
}

.project-cards:hover {
  border: solid darkblue;
}

#projectgrid h4 {
  text-align: right;
}

aside > a:hover {
  color: darkblue;

}


#project1 {
  height: 300px;
  background-image: url('Cinevents.png');
  width: 95%;
}

#project2 {
  background-color: slateblue;
  width: 30%;
}

#project3 {
  background-image: url(jute.png);

  width: 50%;
}

#project4 {
  background-image: url(wood.png);
  width: 20%;
}

#project5 {
  background-color: burlywood;
  width: 70%;
}
